 /*========================================================
	Author: Ruby Masciangelo
	happyhalehawaii.com
==========================================================
	GENERIC STYLES FROM 0PX ALL PAGES
=============================================================================================
    COLOR PALETTE
    Orange:  #e05e26
    Dark Blue:   #243466
    Light Yellow:   #f0e193
    Yellow:     #eecb31
=============================================================================================*/

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    scroll-padding-top: 90px;
}

body {
    background-color: ivory;
    color: #243466;
    font-size: 18px;
    font-weight: 532;
    line-height: 1.42857143;
    margin: 0;
    position: relative;
}

html, body {
    height: 100vh;
}

@media (hover: none) {
    .homeHero {
        background-attachment: local;
    }
 }

h2 {
    /* font-family: 'Lily Script One', cursive; */
    font-family: 'Kaushan Script', cursive;
    margin: 0;
    padding: 0;
}

/*================NAV============*/
#nav {
    display: none;
}

#smolnavbar {
    background-color: ivory;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1050;
}

#smolnavlogo {
    float: right;
    padding: 5px 15px 0 0;
}

#smolnavlogo img {
    height: 40px;
    width: auto;
}

.smolnav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    background-color: #243466;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.smolnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e05e26;
    display: block;
    transition: 0.3s;
}

.smolnav a:hover {
    color: #ac4113;
}

.smolnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:ivory;
    color: #243466;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    color: #ac4113;
}

/*===================FOOTER===========*/
.cr {
    padding-left: 3px;
    position: absolute;
}

/*==========================================================================================
    HOME PAGE FROM 0PX
============================================================================================*/
#homepage {
    display: none;
}

.smolhome {
    background: #e05e26;
    background-image: linear-gradient(rgba(252, 220, 199, 0.699), rgba(252, 248, 245, 0.938)), url(./images/smolbg.jpg);
    background-size: auto 100%;
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;
    position: relative;
    z-index: -5;
    margin-top: -10vh;
}

/*================SMOLHOME=================*/

.smolcoverbox {
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 98vw;
    grid-template-rows: 20vh 20vh 3vh 3vh;
    height: 70%;
    justify-content: center;
    justify-items: center;
    margin: auto;
    max-width: 310px;
    padding-top: 20vh;
    row-gap: 8vh;
    width: auto;
}

.fhlogo {
    display: none;
}

.hhlogo {
    grid-area: 1 / 1 / 2 / 2;
}

.hula {
    grid-area: 2 / 1 / 3 / 2;
}

img.hhlogo {
    height: auto;
    width: 80vw;
}

img.hula {
    height: auto;
    width: 30vw;
}

.smolcvit, .smolnalo {
    text-shadow: 1.25px .75px #f0e193;
}

.cover h1 {
    text-shadow: .5px .25px #f0e193;
}

.smolnalo {
    font-size: 2.3vw;
    grid-area: 3 / 1 / 4 / 2;
    padding-top: -10px;
}

.smolcvit {
    font-size: 2.3vw;
    grid-area: 4 / 1 / 5 / 2;
}

/*=================BLURB==============*/
.smolblurbbox{
    padding: 8vw 3vw;
}

/*============ADS===============*/

.smolc {
    background: url(./images/shopcats/AlohaWear.jpeg) center center no-repeat;
}

.smolq {
    background: url(./images/shopcats/Quilts.jpg) center center no-repeat;
}

.wood {
    background: url(./images/shopcats/Monkey-Pod-Koa.jpeg) center center no-repeat;
}

.glass {
    background: url(./images/shopcats/Etched-Glass.jpeg) center center no-repeat;
}

.pottery {
    background: url(./images/shopcats/California-Pottery.jpeg) center center no-repeat;
}

.funky {
    background: url(./images/shopcats/Funky-Mix.jpeg) center center no-repeat;
}

.smolads {
    align-items: center;
    justify-content: center;
}

.smoladbox {
    background-size: auto 100%;
    align-items: center;
    height: 80vw;
    width: 80vw;
    justify-content: center;
    position: relative;
    margin: 8vw auto;
}

.smoladlink {
    text-align: center;
    background-color: rgba(255, 255, 240, 0.733);
    /* border: 2px solid #283355; */
    height: 60vw;
    width: 60vw;
    margin: 10vw;
    position: absolute;
    vertical-align: middle;
}

.smoladlink a {
    text-align: center;
    color: #243466;
    font-size: 8vw;
    text-decoration: none;
    width: 80%;
    display: inline-block;
}

a.c, a.g {
    padding: 40% 0;
}

a.p, a.f, a.q {
    padding: 31% 0;
}

a.w {
    padding: 22% 0;
}

.smoladlink a:hover, .smoladlink a:active {
    color: #e05e26;
}

.smolcr {
    padding-top: 5vh;
}











/*==============================================================HOMESTYLES MOVE===========================*/
.cvit h1 {
    font-size: 25px;
}

.cvit {
    margin-top: -55px;
}

/*=================BLURB==============*/
.blurbbox p {
    font-size: 20px;
}

.blurbbox h2 {
    font-size: 3.5vw;
    font-weight: 500;
    line-height: 1.2;
}

.blurbbox {
    background-color: ivory;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr .2fr;
    /* margin-top: 80px; */
    overflow: visible;
    padding-bottom: 2vw;
}

.blurbtext1 { 
    grid-area: 1 / 1 / 3 / 2;
    /* grid-area: 1 / 1 / 2 / 2;  perhaps mobile*/
    padding: 3vw 0 0 5vw; 
}
.blurbtext2 { grid-area: 1 / 2 / 2 / 3; padding: 6vw 5vw 3vw 5vw; }
.blurblink { 
    grid-area: 2 / 2 / 3 / 3;
    /* grid-area: 2 / 1 / 3 / 3; perhaps mobile*/
    padding-right: 5vw;
    justify-self: center;
}

.blurblink a {
    border: 2px solid #243466;
    color: #243466;
    padding: 15px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6vw;
}

.blurblink a:hover, .clothesh2 a:hover, .quiltsh2 a:hover, .hgbanner a:hover {
    color: #e05e26;
}

/*============ADS===============*/
.adbox {
    background-color: ivory;
    justify-items: center;
    width: 100vw;
    position: relative;
    padding-bottom: 50px;
}

.adclothes, .adquilts {
    padding: 100px 0;
}

/*=============ADCLOTHES============*/
.adclothes {
    background: url(./images/shopcats/AlohaWear.jpeg);
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    height: auto;
    justify-items: center;
}

.adclothesgrid {
    display: grid;
    grid-template-columns: 1fr .25fr;
    grid-template-rows: 1.5fr;
    column-gap: 5vw;
    margin: 0 5vw;
}

.clothesimg {
    grid-area: 1 / 1 / 4 / 2;
}

img.clothesimg {
    height: auto;
    width: 100%;
}

.clothesh2 {
    background-color: rgba(255, 255, 240, 0.938);
    border: 4px solid #243466;
    grid-area: 1 / 2 / 3 / 3;
    height: 20vw;
    width: 20vw;
}

.clothesh2 a {
    color: #243466;
    display: flex;
    font-size: 3vw;
    font-weight: 500;
    /* margin: 8vw auto; */
    padding: 29% 3%;
    text-align: center;
    text-decoration: none;
}

/*====================ADHOMEGOODS===============*/
.adhomegoods {
    align-items: center;
    height: auto;
    justify-items: center;
}

.adhomegoodsgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .75fr;
    margin: 0 1vw 100px 1vw;
}

.hgbanner {
    display: grid;
    grid-template-columns: 755vw 15vw;
    grid-template-rows: .1fr;
    padding: 50px 5vw 20px 5vw;
}

.hgbanner a {
    color: #243466;
    display: flex;
    font-size: 5vw;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    grid-area: 1 / 1 / 2 / 2;
}

.hgline {
    background-color: #243466;
    grid-area: 1 / 2 / 2 / 3;
    height: 5px;
    align-self: center;
    width: 100%;
}

.box1, .box2, .box3, .box4 {
    height: 23vw;
    width: 23vw;
}

.box1 {
    background: url(./images/shopcats/Monkey-Pod-Koa.jpeg) center center no-repeat;
    background-size: contain;
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
}
.box2 {
    background: url(./images/shopcats/Etched-Glass.jpeg) center center no-repeat;
    background-size: contain;
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
}

.box3 {
    background: url(./images/shopcats/California-Pottery.jpeg) center center no-repeat;
    background-size: contain;
    grid-area: 1 / 3 / 2 / 4;
    position: relative;
}
.box4 {
    background: url(./images/shopcats/Funky-Mix.jpeg) center center no-repeat;
    background-size: contain;
    grid-area: 1 / 4 / 2 / 5;
    position: relative;
}

.abox {
    background-color: rgba(255, 255, 240, 0.938);
    border: 4px solid #243466;
    display: block;
    height: 18vw;
    left: 50%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
    width: 18vw;
}

.abox:hover {
    opacity: .9;
}

.abox a:active {
    color: #e05e26;
}

.box1 a, .box2 a, .box3 a, .box4 a {
    color: #243466;
    display: flex;
    font-size: 2.5vw;
    font-weight: 500;
    position: absolute;
    text-align: center;
    text-decoration: none;
}

.box1 a {
    padding: 19% 3%;
}

.box2 a {
    padding: 39% 16%;
}

.box3 a, .box4 a {
    padding: 30% 0;
}

/*==============ADQUILTS================*/
.adquilts {
    background: url(./images/shopcats/Quilts.jpg);
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    height: auto;
    justify-items: center;
}

.adquiltsgrid {
    display: grid;
    grid-template-columns: .25fr 1fr;
    grid-template-rows: 1.5fr;
    column-gap: 5vw;
    margin: 0 5vw;
}

.quiltsimg {
    grid-area: 1 / 2 / 3 / 3;
}

img.quiltsimg {
    height: auto;
    width: 100%;
}

.quiltsh2 {
    background-color: rgba(255, 255, 240, 0.938);
    border: 4px solid #243466;
    grid-area: 1 / 1 / 4 / 2;
    height: 20vw;
    width: 20vw;
}

.quiltsh2 a {
    color: #243466;
    display: flex;
    font-size: 3vw;
    font-weight: 500;
    /* margin: 8vw auto; */
    padding: 7% 3%;
    text-align: center;
    text-decoration: none;
}

/*==============HOME HAPPY PEOPLE================*/
#homehppl {
    display: none;
}

/*==============FOOTER================*/
.foot {
    position: relative;
    justify-self: start;
}

.foot small.cr {
    width: 300px;
}

/*==================================================================================
    SHOP / POLICY FROM 0PX
===================================================================================*/


/*==================POLICY 0px================*/
.policybox {
    align-items: center;
    column-gap: 0px;
    display: grid;
    font-style: italic;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    justify-items: center; /*was justify-items: start;*/
    row-gap: 20px;
}

.policylogo {
    grid-area: 1 / 1 / 2 / 2;
    height: auto;
    max-width: 70%;
}
.ppolicy {grid-area: 2 / 1 / 3 / 2;}

.ppolicy a {
    text-decoration: none;
    color: #e05e26;
}

.ppolicy a:hover {
    color: #ac4113;
}

/*================================================================================
    ISLAND STYLE FROM 0PX
==================================================================================*/
.trendtitle {
    column-gap: 3vw;
    display: grid;
    grid-template-columns: .75fr .75fr;
    grid-template-rows: .1fr;
    padding: 100px 5vw 0;
}

.trendtitle h2 {
    font-size: 3vw;
    font-weight: 500;
    grid-area: 1 / 1 / 2 / 2;
}

.trendtitleline {
    background-color: #243466;
    grid-area: 1 / 2 / 2 / 3;
    height: 5px;
    align-self: center;
    width: 100%;
}

.trendbox {
    column-gap: 2.5vw;
    display: grid;
    grid-template-columns: .45fr .9fr;
    grid-template-rows: 1fr 1fr;
    margin: 5vw 2.5vw 10vw;
}

.trendimgbox {
    grid-area: 1 / 1 / 3 / 2;
    position: relative;
}

.trendimgbox img {
    display: block;
    height: 70vh;
    width: auto;
}

.trendimglink {
    background: #243466;
    display: block;
    grid-area: 2 / 2 / 3 / 3;
    height: 6vw;
    width: 100%;
}

.trendimglink a {
    color: ivory;
    display: flex;
    font-size: 1.5vw;
    padding: 5% 2%;
    font-weight: 400;
    text-decoration: none;
}

.trendimglink a:hover {
    color: #e05e26;
}

.trendtext {
    grid-area: 1 / 2 / 2 / 3;
}

/*================================================================================
    OUR STORY / CONTACT FROM 0PX
==================================================================================*/
#about {
    height: 80vh;
    width: 100vw;
    padding-top: 5vw;
}

.aboutcover {
    background: url(./images/nalobayreal.jpeg) center center no-repeat;
    background-attachment: fixed;
    background-position: cover;
    background-size: 100vw;
    height: 70vh; /*change for mobile */
    width: auto;
    padding-top: 90px;
    transform: 50% 50%;
}

h2.aboutcovertitle {
    font-size: 6vw;
    padding-left: 5vw;
    padding-top: 2vw;
}

/*=============ABOUTBOX==============*/
.aboutbox {
    column-gap: 2.5vw;
    display: grid;
    grid-template-columns: 20vw 40vw 23vw;
    grid-template-rows: 15vh 24vh 15vh;
    margin: 0 5vw;
    width: 90vw;
}

.aboutbox img, .bigbox img {
    display: block;
    height: auto;
    max-width: 100%;
}

img.aboutimg1, img.imgalt {
    max-height: 80vh;
}

img.aboutimg2 {
    width: 100%;
    height: auto;
}

.aboutimg1 {
    grid-area: 1 / 1 / 4 / 2;
}

.pabout1 {
    grid-area: 1 / 2 / 2 / 4;
}

.pabout2 {
    grid-area: 2 / 2 / 3 / 3;
}

.pabout3 {
    grid-area: 3 / 2 / 4 / 3;
}

.aboutimg2 {
    grid-area: 2 / 3 / 4 / 4;
}


/*=============== CONTACT BOX=============*/
#contact {
    height: 60vh;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-bottom: 10vw;
}

.contactbox {
    background: #f8692c;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    width: 50vw;
    box-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.4);
}

.col {
    float: left;
    width: 100%;
    margin-top: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


input[type=text], textarea {
    background-color: ivory;
    box-sizing: border-box;
    color: #243466;
    width: 100%;
    padding: 12px;
    border: 1px solid #ac4113;
    border-radius: 4px;
    resize: vertical;
}

input[type=text]:focus, textarea:focus {
    outline: none;
}

::placeholder {
    color: #2435668a;
}

label {
    box-sizing: border-box;
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: 700;
}

input[type=submit] {
    background-color: #243466;
    color: #e05e26;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
}

input[type=submit]:hover {
    background-color: #243466;
    color: #f0e193;
}



/* .smolcontactbox h1 {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.smolcontactbox {
    align-items: center;
    column-gap: 4px;
    display: grid;
    grid-template-columns: .25fr .5fr ;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    row-gap: 15px;
}

.smolcontactbox img {
    max-height: 40px;
    width: auto;
}

.smolmailicon { grid-area: 1 / 1 / 2 / 2;}
.smolmail { grid-area: 1 / 2 / 2 / 2;}
.smoligicon { grid-area: 2 / 1 / 3 / 2;}
.smolig { grid-area: 2 / 2 / 3 / 3;} */


/*==================CONTACT==========*/
/* #contact {
    height: 80px;
    margin-top: -20px;
    position: relative;
    width: 100%;
}

.contactbox { CONTACTBOX NOT DISPLAY IN FOOTER ON SMOL SCREENS
    display: none;
} */

/*======================================================================================
                                HAPPY PEOPLE FROM 0PX
======================================================================================*/
.hppltitle {
    column-gap: 3vw;
    display: grid;
    grid-template-columns: .43fr 1fr .43fr;
    grid-template-rows: .4fr;
    padding: 100px 5vw 0;
    justify-content: center;
}

.hppltitle h2 {
    font-size: 7vw;
    font-weight: 500;
}

h2.hppltext {
    grid-area: 1 / 2 / 2 / 3;
}

.hppllinel {
    background-color: #243466;
    grid-area: 1 / 1 / 2 / 2;
    height: 5px;
    align-self: center;
    width: 100%;
}

.hpplliner {
    background-color: #243466;
    grid-area: 1 / 3 / 2 / 4;
    height: 5px;
    align-self: center;
    width: 100%;
}

.pplrow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 4px 0;
}

.pplcol {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}

.pplcol img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.pplrow, .pplcol, .pplcol img {
    box-sizing: border-box;
}

/*======================================================================================
                                MOBILE BOUTIQUE FROM 0PX
======================================================================================*/
#mobileboutique {
    position: relative;
    padding: 0 5vw;
    height: 90vw;
}

.iglink {
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 120px;
    background: #243466;
    overflow-x: hidden;
    padding: 8px 0;
}

.iglinkbox{
    padding: 10px 15px 10px 10px;
    text-align: right;
}

.iglink a, .iglinkalt a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: ivory;
    display: block;
    padding: none;
    margin: none;
}

.orange {
    color: #e05e26;
    margin: 0px;
}

.mbp {
    margin: 0;
}

.iglink a:hover, .iglinkalt a:hover {
    color: #e05e26;
}

.mb {
    height: 110vh;
    width: auto;
}

.mbbox {
    height: auto;
    justify-self: center;
    position: relative;
    padding-top: 100px;
    margin: auto auto 5vw;
    width: 55vw;
}

.mbbox img {
    display: block;
    position: absolute;
    transition: opacity 1s;
    opacity: 0;
    height:auto;
    width: 40vw;
}

.mbbox img:first-child {
    z-index: 2;
    opacity: 1;
}

.mbbox img:last-child {
    z-index: 1;
    opacity: 1;
}


/*=============================================
            MOBILE ABOUT ALT
==============================================*/
#ourstory {
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 5vw 11vw 10vw;
}

.bigbox {
    display: grid;
    grid-template-columns: 20vw 50vw;
    grid-template-rows: 80vh 30vh;
    row-gap: 2vw;
    column-gap: 2vw;
    height: 110vh;
    justify-self: center;
}

.imgalt {
    grid-area: 1 / 1 / 2 / 2;
}

.mbalt {
    grid-area: 1 / 2 / 2 / 3;
}

.mbbox {
    margin: 0 !important;
    padding: 0 !important;
}

.mbbox img {
    width: 100% !important;
    height: auto;
    max-height: 79vh;
}

.iglinkalt {
    grid-area: 2 / 1 / 3 / 2;
}

.iglink, .iglinkalt {
    width: 100%;
    background: #243466;
}

.palt {
    grid-area: 2 / 2 / 3 / 3;
}





/*=================//=====================================================================
                                TABLET 500px+
======================================================================================*/
@media screen and (min-width: 500px) {
    .header {
        height: 90px;
        width: auto;
    }

    /*=====================================================================
        HOME 500px+
    =======================================================================*/
    .smolcoverbox {
        grid-template-columns: 90vw;
        grid-template-rows: 40vh 10vh 10vh;
        row-gap: 10vh;
    }

    .hhlogo, .hula {
        display: none;
    }

    .fhlogo {
        grid-area: 1 / 1 / 2 / 2;
        display: block;
    }

    img.fhlogo {
        height: auto;
        width: 60vw;
    }

    .smolnalo {
        grid-area: 2 / 1 / 3 / 2;
        font-size: 2vw;
    }

    .smolcvit {
        grid-area: 3 / 1 / 4 / 2;
        font-size: 2vw;
    }
    
    .smolads {
        display: grid;
        grid-template-columns: 45vw 45vw;
        grid-template-rows: repeat(4, 45vw);
        column-gap: 3vw;
        row-gap: 3vw;
        margin: 5vw 0;
    }
    
    .smolc {
        grid-area: 1 / 1 / 2 / 3;
    }

    .wood {
        grid-area: 2 / 1 / 3 / 2;
    }

    .glass {
        grid-area: 2 / 2 / 3 / 3;
    }

    .pottery {
        grid-area: 3 / 1 / 4 / 2;
    }

    .funky {
        grid-area: 3 / 2 / 4 / 3;
    }

    .smolq {
        grid-area: 4 / 1 / 5 / 3;
    }

    .smolc, .smolq {
        height: 45vw;
        width: 93vw;
    }

    .smolc .smoladlink, .smolq .smoladlink {
        height: 35vw;
        width: 83vw;
        margin: 5vw;
    }

    .wood, .glass, .pottery, .funky {
        height: 45vw;
        width: 45vw;
    }
    
    .wood .smoladlink, .glass .smoladlink, .pottery .smoladlink, .funky .smoladlink {
        height: 35vw;
        width: 35vw;
        margin: 5vw;
    }

    .smoladlink a {
        font-size: 5vw;
    }

    a.c, a.q {
        padding: 17% 0;
    }

    a.w {
        padding: 10% 0;
    }

    a.p, a.f {
        padding: 30% 0;
    }

    a.f {
        width: 90%;
    }

    /*===================================================================
        SHOP / POLICY 500PX+
    ====================================================================*/


    /*==================================================================
        ABOUT / CONTACT 500PX+
    =====================================================================*/


    /*===============CONTACT 500+=======*/
    /* .smolcontactbox {
        align-self: center;
        justify-self: center;
        grid-template-columns: .1fr .25fr;
    }

    .smolcontactbox h1 {
        font-size: 40px;
    }

    .smolcontactbox img {
        max-height: 60px;
        width: auto;
    } */

    /*======================================================================================
                                HAPPY PEOPLE 500PX+
    ======================================================================================*/
    .pplcol {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

}


/*===========================================================================================
                                WIDTH 768px+ IPAD
============================================================================================*/
@media screen and (min-width: 768px) {

    /*=====================================================================
        HOME 768PX+ IPAD
    =======================================================================*/
    #smolhomepage {
        display: none;
    }

    #homepage {
        display: block;
    }

    .parallax {
        display: block;
        perspective: 1px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-perspective: 1px;
    }

    .parallax::-webkit-scrollbar {
        width: 0;
    }

    .parallax_layer {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .parallax_layer-base {
        display: block;
        transform: translateZ(0);
        z-index: 4;
    }

    .parallax_layer-back {
        /* background: url(./images/nalobay1.png) no-repeat; */
        /* background-image: linear-gradient(rgba(176, 70, 247, 0.329), rgba(245, 241, 182, 0.473)), url(./images/nalobay1.png); */
        /* background: url(./images/IMG_8244\ 2.jpeg) no-repeat; */
        /* background: url(./images/mobileboutique/HH6.jpg) no-repeat; */
        background-image: linear-gradient(rgba(247, 177, 130, 0.329), rgba(252, 248, 245, 0.658)), url(./images/mobileboutique/HH6.jpg);
        /* background-image: linear-gradient(rgba(247, 149, 70, 0.329), rgba(245, 112, 23, 0.753)), url(./images/mobileboutique/HH6.jpg); */
        background-position: center center;
        background-size: cover;
        height: 100vh;
        display: block;
        transform: translateZ(-1px) scale(2);
        z-index: 3;
    }

    .cover {
        align-items: center;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .6fr .2fr;
        justify-items: center;
        padding-top: 80px;
        position: relative;
    }

    .cover img {
        grid-area: 1 / 1 / 2 / 2;
        max-height: 50vh;
        width: auto;
    }

    .nalo {
        display: block;
        grid-area: 2 / 1 / 3 / 2;
    }

    .smolcoverbox {
        display: none;
    }

}
/*===========================================================================================
                                WIDTH 826px+
============================================================================================*/
@media screen and (min-width: 826px) {
    #smolnavbar {
        display: none;
    }

    #nav {
        align-items: center;
        background-color: ivory;
        display: grid;
        grid-template-columns: 1fr .5fr 1fr;
        grid-template-rows: 1fr;
        height: 90px;
        justify-items: center;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    #nav a:hover {
        color: #e05e26;
    }

    .leftnav a, .rightnav a {
        color: #243466;
        display: block;
        font-size: 1.2vw;
        font-weight: 700;
        padding: 8px;
        text-align: center;
        text-decoration: none;
    }

    .leftnav a {
        float: left;
    }

    .rightnav a {
        float: right;
    }

    .leftnav {
        grid-area: 1 / 1 / 2 / 2;
        justify-self: start;
        margin-left: .75vw;
    }

    .midnav {
        grid-area: 1 / 2 / 2 / 3;
        text-align: center;
    }

    .rightnav {
        grid-area: 1 / 3 / 2 / 4;
        justify-self: end;
        margin-right: .75vw;
     }

    h1 {
        color:#243466;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    .msg h1 {
        font-weight: 532;
        font-family: 'Kaushan Script', cursive;
    }

    .msg2 {
        display: none;
        font-family: 'Kaushan Script', cursive;
    }

    #nav h1 {
        font-size: 3vw;
    }

    #navlogo {
        display: none;
    }

    .navhula {
        height: 6vw;
        max-height: 70px;
        width: auto;
    }

    .fade{
        animation-duration: 1.5s;
        animation-fill-mode: both;
        animation-name: fade;
        -webkit-animation-fill-mode: both;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        0% {opacity: 0}
        100% {opacity: 1}
    }

    @keyframes fade {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    /*========================================================================
        HOME 826+
    =========================================================================*/
    #home {
        height: 90vh;
        margin-top: 60px;
    }

    /*========================================================================
        SHOP /POLiCY 826+
    ==========================================================================*/
    #shop {
        display: flex;
        height: auto;
        padding: 100px 0;
        position: relative;
        width: 100vw;
    }

    .shopbox {
        margin: 1.5vw;
    }

    div.gallery {
        float: left;
        height: 22vw;
        margin: 5vw 1vw;
        width: 22vw;
    }

    div.gallery img {
        height: auto;
        width: 100%;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    /*===================Policy============*/
    #policy {
        height: auto;
        position: relative;
        width: 100vw;
    }

    .policybox {
        grid-template-columns: .15fr .8fr;
        grid-template-rows: 1fr;
        height: auto;
        margin: 50px 5vw;
        width: 90vw;
    }

    .policylogo {
        grid-area: 1 / 1 / 2 / 2;
        height: auto;
        width: 10vw;
    }
    .policytext {
        grid-area: 1 / 2 / 2 / 3;
        justify-self: left;
    }

    /*============================================================================
        OUR STORY / CONTACT 826+
    =============================================================================*/
    /* .aboutbox {
        column-gap: 2.5vw;
        row-gap: 2vw;
        display: grid;
        grid-template-columns: 1fr 30vw 30vw;
        grid-template-rows: 1fr repeat(3, 5vw);
        margin: 2vw 5vw 5vw;
    } */

/* 

    .aboutimg {
        grid-area: 1 / 1 / 5 / 2;
    }

    .pabout {
        grid-area: 1 / 2 / 2 / 4;
    } */

    /* .smolcontactbox {
        display: none;
    } */

    /* #contact {
        height: auto;
        margin-top: 0;
    }

    .contactbox {
        display: block;
    }

    .igicon img, .mailicon img{
        max-height: 5vw;
        justify-self: end;
        width: auto;
    }

    h1.ig, h1.mail {
        font-size: 2vw;
    }

    .mailicon {
        grid-area: 2 / 2 / 3 / 3;
    }

    .mail {
        grid-area: 2 / 3 / 3 / 4;
    }

    .igicon {
        grid-area: 3 / 2 / 4 / 3;
    }

    .ig {
        grid-area: 3 / 3 / 4 / 4;
    } */

    /*======================================================================================
                                HAPPY PEOPLE 826+
    ======================================================================================*/
    .pplcol {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25%;
    }

}

/*===========================================================================================
                                WIDTH 1100px+
============================================================================================*/
@media screen and (min-width: 1100px) {
    #homehppl {
        display: block;
        padding-top: -50px;
        margin-top: -50px;
    }
}