 /*========================================================
	Author: Ruby Masciangelo
	happyhalehawaii.com
==========================================================
	GENERIC STYLES FROM 0PX ALL PAGES
=============================================================================================
    COLOR PALETTE
    Orange:  #e05e26
    Dark Blue:   #243466
    Light Yellow:   #f0e193
    Yellow:     #eecb31
=============================================================================================*/

html {
	font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
}

body {
    background-color: ivory;
    color: #243466;
    font-size: 18px;
    line-height: 1.42857143;
	margin: 0;
}

html, body {
    height: 100vh;
}

/*================NAV============*/
#nav {
    display: none;
}

/*===================FOOTER===========*/
.cr {
    padding-left: 3px;
    position: absolute;
}

/*==========================================================================================
    HOME PAGE FROM 0PX
============================================================================================*/
/* #home {
    background-color: #e05e26;
    height: 110%;
    width: auto;
}

.cover {
    align-content: center;
    justify-content: center; */
    /* max-height: -moz-calc(100vh - 200px);
    max-height: -webkit-calc(100vh - 200px); */
    /* max-height: calc(100vh - 400px); */
    /* max-height: 740px; */
    /* width: calc(100vw - 200px); was 100vw-100px */
    /*border-bottom: 30px solid #e05e26;*/
    /* margin-top: -10%;
} */

.nalo {
    display: none;
}

.smolcoverbox {
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr .25fr;
    height: 70%;
    justify-content: center;
    justify-items: center;
    margin: auto;
    max-width: 310px;
    padding-top: 25%;
    row-gap: 5px;
    width: auto;
}

.hulalogo {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0 20%;
}

.hhlogo {
    grid-area: 1 / 1 / 2 / 2;
}

.smolcoverbox img {
    /* height: calc(100% - 30%); */
    height: 80%;
    width: auto;
}

img.hhlogo {
    height: auto;
    width: 80vw;
}

img.hulalogo {
    height: auto;
    width: 10vw;
}

/*=================BLURB==============*/
.blurbbox p {
    font-size: 20px;
}

.blurbbox h1 {
    font-size: 30px;
}

.blurbbox {
    background-color: ivory;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr .2fr;
    margin-top: 80px;
    overflow: visible;
}

.blurbtext1 { grid-area: 1 / 1 / 2 / 2; padding: 5vw 0 5vw 5vw; }
.blurbtext2 { grid-area: 1 / 2 / 2 / 3; padding: 5vw; }
.blurblink { grid-area: 2 / 1 / 3 / 3;
    padding-right: 5vw;
    justify-self: end;
}

.blurblink a {
    border: 2px solid #243466;
    color: #243466;
    padding: 15px;
    text-decoration: none;
}

/*============ADS===============*/
#ads {
    margin: 100px 5vw;
}

.adclothes, .adhomegoods {
    margin-bottom: 8vw;
}

/*=============ADCLOTHES============*/
.adclothes {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr .25fr;
    grid-template-rows: .25fr .3fr .25fr;
    height: auto;
    justify-items: center;
    column-gap: 5vw;
    width: 90vw;
}

.clothesimg {
    grid-area: 1 / 1 / 4 / 2;
    height: auto;
    width: 60vw;
}

.clothesh2 {
    border: 4px solid #243466;
    grid-area: 2 / 2 / 3 / 3;
    height: 20vw;
    width: 20vw;
}

.clothesh2 a {
    color: #243466;
    display: flex;
    font-size: 3vw;
    font-weight: 600;
    /* margin: 8vw auto; */
    padding: 29% 3%;
    text-align: center;
    text-decoration: none;
}

/*====================ADHOMEGOODS===============*/
.adhomegoods {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: .75fr;
    height: auto;
    justify-items: center;
    width: 90vw;
}

.box1, .box2, .box3, .box4, .box5 {
    height: 15vw;
    width: 15vw;
}

.box1 { 
    background: url(./images/shopcats/Monkey_Pod___Koa-removebg-preview\ \(1\).png) center center no-repeat;
    background-size: contain;
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
}
.box2 { 
    background: url(./images/shopcats/Etched_Glass-removebg-preview.png) center center no-repeat;
    background-size: contain;
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
}
.box3 { 
    border: 4px solid #243466;
    display: block;
    grid-area: 1 / 3 / 2 / 4;
    position: relative;
}
.box3 a {
    color: #243466;
    display: flex;
    font-size: 2vw;
    font-weight: 600;
    padding: 22% 3%;
    text-align: center;
    text-decoration: none;
}

.box4 { 
    background: url(./images/shopcats/California_Pottery-removebg-preview.png) center center no-repeat;
    background-size: contain;
    grid-area: 1 / 4 / 2 / 5;
    position: relative;
}
.box5 { 
    background: url(./images/shopcats/Funky_Mix-removebg-preview.png) center center no-repeat;
    background-size: contain;
    grid-area: 1 / 5 / 2 / 6;
    position: relative;
}

.abox {
    background-color: ivory;
    border: 4px solid #243466;
    display: block;
    height: 13vw;
    left: 50%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
    width: 13vw;
}

.abox:hover {
    opacity: 1;
}

.box1 a, .box2 a, .box4 a, .box5 a {
    color: #243466;
    display: flex;
    font-size: 2vw;
    font-weight: 600;
    position: absolute;
    text-align: center;
    text-decoration: none;
}

.box1 a {
    padding: 18% 3%;
}

.box2 a {
    padding: 39% 12%;
}

.box4 a, .box5 a {
    padding: 28% 0;
}

/*==============ADQUILTS================*/
.adquilts {
    align-items: center;
    display: grid;
    grid-template-columns: .25fr 1fr;
    grid-template-rows: .25fr .3fr .25fr;
    height: auto;
    justify-items: center;
    column-gap: 5vw;
    width: 90vw;
}

.quiltsimg {
    grid-area: 1 / 2 / 4 / 3;
    height: auto;
    width: 60vw;
}

.quiltsh2 {
    border: 4px solid #243466;
    grid-area: 2 / 1 / 3 / 2;
    height: 20vw;
    width: 20vw;
}

.quiltsh2 a {
    color: #243466;
    display: flex;
    font-size: 3vw;
    font-weight: 600;
    /* margin: 8vw auto; */
    padding: 7% 3%;
    text-align: center;
    text-decoration: none;
}

/*==================================================================================
    SHOP / POLICY FROM 0PX
===================================================================================*/


/*==================POLICY 0px================*/
.policybox {
    align-items: center;
    column-gap: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    justify-items: center; /*was justify-items: start;*/
    row-gap: 20px;
}

.policylogo {
    grid-area: 1 / 1 / 2 / 2;
    height: auto;
    max-width: 70%;
}
.ppolicy {grid-area: 2 / 1 / 3 / 2;}

/*================================================================================
    ISLAND STYLE FROM 0PX
==================================================================================*/
.trendtitle {
    column-gap: 5vw;
    display: grid;
    grid-template-columns: .45fr .75fr;
    grid-template-rows: .1fr;
    padding: 100px 5vw 0;
}

.trendtitle h2 {
    font-size: 2vw;
    font-weight: 600;
    grid-area: 1 / 1 / 2 / 2;
}

.trendtitleline {
    background-color: #243466;
    grid-area: 1 / 2 / 2 / 3;
    height: 5px;
    align-self: center;
    width: 100%;
}

.trendbox {
    column-gap: 2.5vw;
    display: grid;
    grid-template-columns: .75fr .25fr;
    grid-template-rows: .1fr 1fr;
    margin: 5vw 2.5vw 10vw;
}

.trendimgbox {
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
}

.trendimgbox img {
    display: block;
    height: auto;
    width: 100%;
}

.trendimglink {
    background: #243466;
    display: block;
    grid-area: 1 / 1 / 2 / 2;
    height: 6vw;
    width: 100%;
}

.trendimglink a {
    color: ivory;
    display: flex;
    font-size: 2.5vw;
    padding: 2% 2%;
    font-weight: 400;
    text-decoration: none;
}

.trendtext {
    grid-area: 1 / 2 / 3 / 3;
}

/*================================================================================
    OUR STORY / CONTACT FROM 0PX
==================================================================================*/
#about {
    padding-top: 100px;
}

.aboutbox img {
    display: none;
}

/*===============SMOL CONTACT BOX=============*/
.smolcontactbox h1 {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.smolcontactbox {
    align-items: center;
    column-gap: 4px;
    display: grid;
    grid-template-columns: .25fr .5fr ;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    row-gap: 15px;
}

.smolcontactbox img {
    max-height: 40px;
    width: auto;
}

.smolmailicon { grid-area: 1 / 1 / 2 / 2;}
.smolmail { grid-area: 1 / 2 / 2 / 2;}
.smoligicon { grid-area: 2 / 1 / 3 / 2;}
.smolig { grid-area: 2 / 2 / 3 / 3;}


/*==================CONTACT==========*/
#contact {
    height: 80px;
    margin-top: -20px;
    position: relative;
    width: 100%;
}

.contactbox { /*CONTACTBOX NOT DISPLAY IN FOOTER ON SMOL SCREENS*/
    display: none;
}

/*======================================================================================
                                TABLET 500px+
======================================================================================*/
@media screen and (min-width: 500px) {
    .header {
        height: 90px;
        width: auto;
    }

    /*=====================================================================
        HOME 500PX+
    =======================================================================*/
    .parallax {
        display: block;
        perspective: 1px;
        height: 80vh;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-perspective: 1px;
    }

    .parallax::-webkit-scrollbar {
        width: 0;
    }

    .parallax_layer {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .parallax_layer-base {
        display: block;
        transform: translateZ(0);
        z-index: 4;
    }

    .parallax_layer-back {
        background: url(./images/nalobay1.png) no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100vh;
        display: block;
        transform: translateZ(-1px) scale(2);
        z-index: 3;
    }

    .cover {
        align-items: center;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .6fr .2fr;
        justify-items: center;
        padding-top: 90px;
    }

    .cover img {
        grid-area: 1 / 1 / 2 / 2;
        max-height: 50vh;
        width: auto;
    }

    .nalo {
        display: block;
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .smolcoverbox {
        display: none;
    }

    /*===================================================================
        SHOP / POLICY 500PX+
    ====================================================================*/
    

    /*==================================================================
        ABOUT / CONTACT 500PX+
    =====================================================================*/
    #about {
        height: auto;
        width: 100vw;
    }

    .aboutbox {
        column-gap: 2.5vw;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: .25fr;
        margin: 5vw;
    }

    .aboutbox img {
        display: block;
        height: auto;
        max-width: 100%;
    }


    .aboutimg { 
        grid-area: 1 / 1 / 2 / 2; 
    }

    .pabout { 
        grid-area: 1 / 2 / 2 / 3;
    }

    /*===============CONTACT 500+=======*/
    .smolcontactbox {
        align-self: center;
        justify-self: center;
        grid-template-columns: .1fr .25fr;
    }

    .smolcontactbox h1 {
        font-size: 40px;
    }

    .smolcontactbox img {
        max-height: 60px;
        width: auto;
    }
    
}

/*===========================================================================================
                                IPAD 768px+ (826 for navbar)
============================================================================================*/
@media screen and (min-width: 826px) {

    #nav {
        align-items: center;
        background-color: ivory;
        display: grid;
        grid-template-columns: 1fr .4fr 1fr;
        grid-template-rows: 1fr;
        height: 90px;
        justify-items: center;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    #nav a:hover {
        color: #e05e26;
    }

    .leftnav a, .rightnav a {
        color: #243466;
        display: block;
        font-size: 1.2vw;
        font-weight: 700;
        padding: 8px;
        text-align: center;
        text-decoration: none;
    }

    .leftnav a {
        float: left;
    }

    .rightnav a {
        float: right;
    }

    .leftnav { 
        grid-area: 1 / 1 / 2 / 2;
        justify-self: start;
        margin-left: .75vw;
    }

    .midnav {
        grid-area: 1 / 2 / 2 / 3;
        text-align: center;
    }

    .rightnav { 
        grid-area: 1 / 3 / 2 / 4;
        justify-self: end;
        margin-right: .75vw;
     }

    h1 {
        color:#243466;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
    .msg2 {
        display: none;
    }

    #nav h1 {
        font-size: 2.5vw;
    }

    #navlogo {
        display: none;
    }

    .navhula {
        height: 6vw;
        max-height: 70px;
        width: auto;
    }
    
    .fade{
        animation-duration: 1.5s;
        animation-fill-mode: both;
        animation-name: fade;
        -webkit-animation-fill-mode: both;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
        0% {opacity: 0}
        100% {opacity: 1}
    }

    @keyframes fade {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    /*========================================================================
        HOME 768+
    =========================================================================*/
    #home {
        margin-top: 60px;
    }

    /*========================================================================
        SHOP /POLiCY 768+
    ==========================================================================*/
    #shop {
        display: flex;
        height: auto;
        padding: 100px 0;
        position: relative;
        width: 100vw;
    }

    .shopbox {
        margin: 2.5vw;
    }
    
    div.gallery {
        float: left;
        height: 26.6vw;
        margin: 2.5vw;
        width: 26.6vw;
    }
    
    div.gallery img {
        height: auto;
        width: 100%;
    }
    
    div.desc {
        padding: 15px;
        text-align: center;
    }

    /*===================Policy============*/
    #policy {
        height: auto;
        position: relative;
        width: 100vw;
    }

    .policybox {
        grid-template-columns: .15fr .8fr;
        grid-template-rows: 1fr;
        height: auto;
        margin: 50px 5vw;
        width: 90vw;
    }

    .policylogo { 
        grid-area: 1 / 1 / 2 / 2; 
        height: auto;
        width: 10vw;
    }
    .policytext { 
        grid-area: 1 / 2 / 2 / 3;
        justify-self: left;
    }
    
    /*============================================================================
        OUR STORY / CONTACT 768+
    =============================================================================*/
    .aboutbox {
        column-gap: 2.5vw;
        display: grid;
        grid-template-columns: 1fr .3fr 1.2fr;
        grid-template-rows: 1fr repeat(2, .25fr);
        margin: 5vw;
    }

    .aboutbox img {
        display: block;
        height: auto;
        max-width: 100%;
    }


    .aboutimg { 
        grid-area: 1 / 1 / 4 / 2; 
    }

    .pabout { 
        grid-area: 1 / 2 / 2 / 4;
    }

    .smolcontactbox {
        display: none;
    }

    #contact {
        height: auto;
        margin-top: 0;
    }

    .contactbox {
        display: block;
    }

    .contactbox img {
        max-height: 60px;
        width: auto;
    }

    .ig h1, .mail h1 {
        font-size: 2vw;
    }

    .mailicon {
        grid-area: 2 / 2 / 3 / 3;
    }

    .mail {
        grid-area: 2 / 3 / 3 / 4;
    }

    .igicon {
        grid-area: 3 / 2 / 4 / 3;
    }

    .ig {
        grid-area: 3 / 3 / 4 / 4;
    }
}